# ignore .git and .cache folders
.git
.gitignore
.cache
Dockerfile
docker-compose.yml
Pipfile
Pipfile.lock
jupyter/
v1/
.vscode/
#uploads/*
__pycache__/
src/__pycache__/

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md
