{% extends "base.html" %}
{% block title %}About | {% endblock %}
{% block content %}
<div class="page-title"><h1>About</h1></div>
<div class="content-box">
    <p>This project was created as part of Florida State University's <a href="https://honors.fsu.edu/honors-major" target="_blank">Honors in the Major Program</a>. The application utilizes the Flask web framework, and Google's Inception v3 CNN architecture for the classification task. The goal of this project is to demonstrate the viability of utilizing transfer learning and AI edge devices for Melanoma detection and classification. This approach is intended to benefit communities which lack access to traditional medical services, by offering a compact and power efficient solution to initial skin cancer screening.</p>
</div>
{% endblock %}
