{% extends "base.html" %}
{% block title %}Links | {% endblock %}
{% block content %}
<div class="page-title"><h1>Project Links</h1></div>
<div class="content-box">
    <h3>Software</h3>
    <ul>
        <li><a href="https://www.python.org">Python 3.x programming language</a>
        </li>
        <li><a href="https://palletsprojects.com/p/flask/">Flask web framework</a>
        </li>
        <li><a href="https://jinja.palletsprojects.com/en/2.10.x/">Jinja template language</a>
        </li>
        <li><a href="https://cloud.google.com">Google Cloud</a>
        </li>
        <li><a href="https://www.tensorflow.org">Tensorflow</a>
        </li>
    </ul>
    <h3>Hardware</h3>
    <ul>
        <li><a href="https://developer.nvidia.com/embedded/jetson-nano-developer-kit">NVIDIA Jetson Nano</a>
        </li>
    </ul>    
    <h3>Data</h3>
    <ul>
        <li><a href="https://challenge2018.isic-archive.com">ISIC 2018: Skin Lesion Analysis Towards Melanoma Detection</a></li>
    </ul>
    <h3>Resources</h3>
    <ul>
        <li><a href="https://www.w3schools.com">w3schools</a>
        </li>
    </ul>
</div>    
{% endblock %}
