/*style for base.html*/

html,
body {
    background-color: lightgray;
    font-family: "Helvetica Neue";
    margin: 0;
    height: 100%;
}

.wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 1em; /* Height of footer */
    min-height: 95%;
}

#top-header {
    text-align: center; color: #782F40;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a:visited {
    color: black;
    
}

#image-form {
    text-align: center;
}


/*Nav bar*/
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 6px 8px 0 rgba(32,33,36,0.28);
}

nav h1 {
    margin: 0;
    padding: 0;
    color: tomato;
}
nav ul {
    list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-wrapper {
    margin: 0;
    float: right;
}

.nav-header {
    margin: 0;
    padding: 0;
    color: tomato;
}

/*Styling for Index Page*/
.index-welcome {
    text-align: center;
}
.index-welcome img {
    padding-top: 2em;
}


/*Styling for Results page*/
.table-wrapper {
    text-align: center;
}

#table-title {
    text-align: center; color: #782F40;
}

#results-table {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
}

table {
    background-color: rgb(240, 220, 178);
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
}

table, th, td {
  border: 1px solid black;
}